@{
    ViewBag.Title = "Home Page";

}

<div class="jumbotron" style="background-image:url('../../Media/oie_transparent.png'); background-size:cover; width:100%; height: 100%; background-color:black"  > 
    <h1 style="color:whitesmoke; text-align:center">Your Execution Place!</h1>
    <p class="lead" style="text-align:center">You get sick from annoying people? Want someone to handle them without any efford? <br />You are at the right place! Please let us have the pleasure of ensure your happiness and peace!</p>
    <p style="text-align:center"><a href="http://asp.net" class="btn btn-primary btn-lg" style="background-color:red;">Join now! &raquo;</a></p>
</div>


<div class="row">
    <div class="col-md-4" style="text-align:center;">
        <h2>Execution Request</h2>
        <p >
            Need to destroy a Target? Go ahead and let us do it for you! Check our extermination services and choose HOW, WHEN and WHERE we will handle with your problems!
        </p>
        <img src="~/Media/Test1people.png" width="50%"/>
        <br />
        <p><a class="btn btn-primary btn-lg" style="background-color:red" href="http://go.microsoft.com/fwlink/?LinkId=301865">Die damn it! &raquo;</a></p>
    </div>
    <div class="col-md-4" style="text-align:center;">
        <h2>Our Killer Team!</h2>
        <p>Take a look at our classified staff profile to know the profile that adjust better to your needs!.</p>
        <br /><br />
        <img src="~/Media/people (3)1.png" width="50%" />
        <br />
        <p><a class="btn btn-primary btn-lg" style="background-color:red" href="http://go.microsoft.com/fwlink/?LinkId=301866">Our Army &raquo;</a></p>
    </div>
    <div class="col-md-4" style="text-align:center">
        <h2>Rest in peace!</h2>
        <p>Choose one target and give your vote! The one who gets the highest score will meet the Beyond!!.</p><br /><br />
        <img src="~/Media/people (1)1.png" width="50%" />
        <p><a class="btn btn-primary btn-lg" style="background-color:red;" href="http://go.microsoft.com/fwlink/?LinkId=301867">Place your Vote! &raquo;</a></p>        
    </div>
</div>